@import "../public/bower_components/bootstrap/less/bootstrap";

@font-family-sans-serif: "proxima-nova", sans-serif;
@font-size-base: 18px;

// quick fix for icon font path
@icon-font-path: '/bower_components/bootstrap/dist/fonts/';

@brand-success: lighten(#563D7C, 20%);
@state-success-bg: lighten(#CDBFE3, 5%);
@state-success-text: @brand-success;

@state-warning-bg: lighten(@brand-warning, 30%);
@state-warning-text: darken(@brand-warning, 10%);

.medical {
  color: @brand-danger;
}

.decriminalization {
  color: @brand-warning;
}

.medical-decriminalization {
  color: @brand-info;
}

.legalized {
  color: @brand-success;
}

//@color-scale-start: darken(@state-warning-bg, 10%);
@color-scale-start: #F2E187;
@color-scale-end:   darken(#dff0d8, 60%);

.btn-price-1 {
  background-color: @color-scale-start;
}

.btn-price-2 {
  background-color: mix(@color-scale-start, @color-scale-end, 75%)
}

.btn-price-3 {
  background-color: mix(@color-scale-start, @color-scale-end, 50%)
}

.btn-price-4 {
  background-color: mix(@color-scale-start, @color-scale-end, 25%)
}

.btn-price-5 {
  background-color: @color-scale-end;
  color: @color-scale-start;
}

.text-green {
  color: @color-scale-end;
}

#slider-container {
  width: 80%;
  margin: 0 auto;
}

#time-slider {
  display: inline-block;
  width: 50%;
  margin: 0 10px;
}

#map {
  position: relative;
  width: 110%;
  height: 500px;
}

.scrollable {
  height: auto;
  max-height: 700px;
  overflow-x: hidden;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid path {
      stroke-width: 1;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  opacity: 0.5;
}

.active-state {
  fill: rgba(91, 192, 222, 0.5) !important;
  stroke: rgba(91, 192, 222, 0.9) !important; 
  stroke-width: 2 !important;
}
.priceLine {
  fill: none;
  stroke: red;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}